@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto:300,300i,400,400i,500,500i,700,700i,900');

h1{
    font-family: Oswald;
    font-size: 60px; 
}

h2,h3,h4,h5,h6{
    font-family: Oswald;
    color: #ffffff
}

body {
    background-color: #2e2e2e;
    color: #777777;
}

p{
    color:#666666;
    line-height:28px;
    font-size:16px;
    letter-spacing:0.4px;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
}
.logo > a {
    float: left;
}
.name {
	padding: 40px 15px;
	text-align: center;
}
#foot{
    position:fixed !important;
    width:100%;
    bottom:0;
    text-align:center;
    padding:5px 0;
    background:#f0f0f0;
    border-top:1px solid #666;
}
.panel{
    border-color: #666666;
}
.panel-body{
    background-color: #666666;
}
.panel-default>.panel-heading{
    background-color: #92acda;
}
.navbar{
    background-color: #00171f;
    height: 100px;
    width: auto;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}